* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: sans-serif;
     font-size: 20px;
   }
   
   .page {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;
     gap: 5px;
   }

   #messages {
     display: flex;
     flex-direction: column;
     height: 90vh;
     width: 95vw;
     border: 2px solid rgb(213, 213, 213);
   }

   #message {
     width: 95vw;
   }